body {
    font-family: Arial, sans-serif;
    text-align: center; /* centra todo el texto */
    margin: 0;
    padding: 0;
    background-color: #28255c; /* color de fondo suave */
    color: #fffcfc;
}

/* Estilo para los contenedores de texto */
div {
    margin: 20px auto; /* separa bloques verticalmente */
    max-width: 600px; /* limita ancho del contenido */
}

/* Estilo de la imagen */
img {
    width: 200px;      /* tamaño de la foto */
    height: auto;      /* mantiene proporción */
    border: 10px solid #333; /* borde opcional */
    display: block;
    margin: 0 auto;    /* centra la imagen */
}

/* Estilo del mapa */
#map {
    height: 800px;     /* obligatorio para que Leaflet funcione */
    width: 80%;        /* ancho del mapa */
    
    

}

/* Títulos más grandes (opcional) */
div:first-child {
    font-size: 24px;
    font-weight: bold;
}